body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../img/ballet.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

.titulo_izda {
	text-align:left;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-weight: 400;
    color: #707070;
    padding-bottom: 10px;
}

.titulo_dcha {
	text-align:right;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-weight: 400;
    color: #707070;
    padding-bottom: 10px;
}

.subtitulo_izda {
	text-align:left;
    letter-spacing: 0.1em;
    font-size: 2em;
    font-weight: 400;
    color: #707070;
    padding-top: 5px;
}

.subtitulo_dcha {
	text-align:right;
    letter-spacing: 0.1em;
    font-size: 2em;
    font-weight: 400;
    color: #707070;
    padding-top: 5px;
}

.parrafo_izda {
	margin-top: 0.8sem;
	margin-bottom: 6em;
	text-align:left;
    color: #707070;
}

.parrafo_dcha {
	margin-top: 0.8em;
	margin-bottom: 6em;
	text-align:right;
    color: #707070;
}

.raya {
    border-bottom: 2px solid #707070;
}

.background-home {
    padding-bottom: 50px;
}

.vacio {
	margin-bottom: 15em;
}

.background-dcha {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFF;
	opacity: 0.9;
    -webkit-clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 10% 80%);
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 10% 80%);
}

.background-izda {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFF;
	opacity: 0.9;
    -webkit-clip-path: polygon(0% 0%, 100% 20%, 80% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 20%, 80% 100%, 0% 100%);
}

.background-section3 {
    padding-top: 50px;
}

body {
    background-color: #FFF;
}
